//
// Colors
//

// General
$primary: #8A4222;
$secondary: #BFA248;
// Text
$headings-color: #1C1B12;
$body-color: #2A2917;

//
// Typography
//

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
$font-family-base: "Work Sans", sans-serif;
$headings-font-family: "Quattrocento", serif;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
